<div class="container">
  <div class="card p-10">
    <div class="card-header">
      <h1 class="card-title">Make a New Project</h1>
    </div>
    <div class="card-body">
      <form #projectForm="ngForm" class="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" required>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description" required>
        </div>
        <div class="media-form">
          <h2>Media Entries</h2>
          <button type="button" class="btn btn-sm btn-default" (click)="addMediaInput()">Add More</button>
          <hr>
          <div class="card-deck">
            <app-media-form *ngFor="let mediaForm of mediaForms; let i=index" [index]=i (toDelete)=deleteChild($event)></app-media-form>
          </div>
        </div>
        <button [disabled]="mediaForms.length < 1" type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
  </div>
</div>

