<div class="container">
  <div class="card bg-dark text-white shadow-sm">
    <div class="card-header bg-dark">
      <h1 class="card-title">Make a New Project</h1>
    </div>
    <div class="card-body pl-5 pr-5">
      <form [formGroup]="projectForm" class="form" (ngSubmit)="onSubmit(projectForm.value)">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" required formControlName="title">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description" required formControlName="description">
        </div>
        <div class="media-form">
          <h2>Media Entries</h2>
          <button type="button" class="btn btn-sm btn-default" (click)="addMediaInput()">Add More</button>
          <hr>
          <div class="card-group mb-3 mx-auto" formArrayName="mediaEntries">
            <app-media-form *ngFor="let mediaEntry of projectForm.controls['mediaEntries'].controls; let i = index" [index]=i [group]="projectForm"
              (toDelete)=deleteChild($event) (fileChanged)="updateFile($event)"></app-media-form>
          </div>
        </div>
        <button [disabled]="projectForm.controls['mediaEntries'].controls.length < 1 || !projectForm.valid" type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
  </div>
</div>

