.avatar{
    height: 15rem;
    width: 15rem;
    background-position: 50%;
    background-size: cover;
    position: absolute;
    left: 15rem;
    top: 13rem;
    border-width: .5rem;
    border-color: #343a40;
    border-style: solid;
    z-index: 2;
}

.window{
    height: 15rem;
    border-width: 0px 0px .5rem 0px;
    border-color: #343a40;
    border-style: solid;
}