<div class="card p-3 m-2" style="width: 15rem;">
  <div style="width: 15px; height: 15px; position: relative; left: 12rem; float:right;" (click)=removeForm(index)>
    <i class="fa fa-times-circle"></i>
  </div>
  <h5 class="card-title">Entry {{index + 1}}</h5>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" id="description">
  </div>
  <div class="form-group">
    <label for="media">Media</label>
    <input type="file" class="form-control-file" id="media" accept="image/*, video/*">
  </div>
</div>

